<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Título</title>
    <style>
        .conteudo {
            background-color: #f2f2f2;
            padding: 5px;
            float: right;
            width: 75%;
        }

        .lateral {
            background-color: #f2f2f2;
            padding: 5px;
            float: left;
            width: 20%;
        }

        .menu {
            background-color: orange;
            padding: 5px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

    <div class="menu">
        <a href="">Produtos (geral)</a>
        <a href="celulares/">Celulares</a>
        <a href="moveis/">Móveis</a>
    </div>
    <div class="lateral">
        <h2>Categorias</h2>
        <ul>
            <li>Ofertas do dia</li>
            <li>Celulares</li>
            <li>Móveis</li>
            <li>Eletrodoméstico</li>
            <li>TV e Vídeo</li>
        </ul>
    </div>
    <div class="conteudo">
        <h1>Lista de produtos (geral)</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mesa de Jantar</td>
                    <td>R$ 3.200</td>
                </tr>
                <tr>
                    <td>Iphone</td>
                    <td>R$ 1.200</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>